<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Trade</title>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link href="/static/style/material-components.min.css" rel="stylesheet">
    <link href="/static/style/material-icon.css" rel="stylesheet">
    <link href="/static/style/index.css" rel="stylesheet">
</head>

<body>
    <aside class="mdc-drawer mdc-drawer--modal">
        <div class="mdc-drawer__header">
            <h3 class="mdc-drawer__title">Fund</h3>
            <h6 class="mdc-drawer__subtitle"><a href="https://github.com/ryougichan">RyougiChan</a></h6>
        </div>
        <div class="mdc-drawer__content">
            <nav class="mdc-list">
                <a class="mdc-list-item mdc-list-item--activated" href="#" aria-current="page" tabindex="0" data-hook="simulation_trade">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">sports_kabaddi</i>
                    <span class="mdc-list-item__text">Simulation Trade</span>
                </a>
                <a class="mdc-list-item" href="#" data-hook="bollinger_bands">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">stacked_line_chart</i>
                    <span class="mdc-list-item__text">Bollinger Bands</span>
                </a>
            </nav>
        </div>
    </aside>

    <div class="mdc-drawer-scrim"></div>

    <div class="mdc-drawer-app-content">
        <header class="mdc-top-app-bar app-bar" id="app-bar">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <button id="drawer-toggle"
                        class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
                    <span class="mdc-top-app-bar__title">Simulation Trade</span>
                </section>
            </div>
        </header>

        <main class="main-content" id="main-content">
            <div class="mdc-top-app-bar--fixed-adjust figure-container" data-hook="simulation_trade" data-fetch="true">
                <ul class="figure-list"></ul>
            </div>
            <div class="mdc-top-app-bar--fixed-adjust figure-container" data-hook="bollinger_bands" data-fetch="false">
                 <ul class="figure-list"></ul>
            </div>
        </main>
    </div>

    <div class="figure">
        <iframe></iframe>
    </div>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
    <script>
        const topAppBar = mdc.topAppBar.MDCTopAppBar.attachTo(document.getElementById('app-bar'));
        const drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));
        topAppBar.setScrollTarget(document.getElementById('main-content'));
        topAppBar.listen('MDCTopAppBar:nav', () => {
            drawer.open = !drawer.open;
        });
        $('.mdc-drawer .mdc-list').on('click', function(e) {
            drawer.open = false;
            if (e.target.nodeName === 'A') {
                console.log($('.figure--activated'));
                $('.figure--activated').fadeOut();
                $('.figure--activated').removeClass('figure--activated')
                $('.mdc-top-app-bar__title').text($(e.target).find('.mdc-list-item__text').text());
                let $nextActivate = $('.figure-container[data-hook='+$(e.target).attr('data-hook')+']');
                $nextActivate.addClass('figure--activated');
                if($nextActivate.attr('data-fetch') !== 'true') {
                    $nextActivate.attr('data-fetch', 'true');
                    R.getData($nextActivate.attr('data-hook'));
                }
                $nextActivate.fadeIn();

            }
        });
        $(document.body).on('MDCDrawer:closed', () => {
            $('.main-content').find('input, button').focus();
        });
        $('.figure-list').on('click', '.figure-thumbnail', function (e) {
            let name = $(this).attr('title').split('.')[0];
            $('.figure>iframe').attr('src', `/static/html/${$(this).attr('data-type')}/${name}.html`);
            $('.figure').fadeIn();
        });
        $('.figure').on('click', function (e) {
            if (e.currentTarget.nodeName !== 'IFRAME') {
                $(this).fadeOut();
            }
        });
        R = {
            getData(name) {
                $.ajax({
                    url: '/analysis/api/data/' + name,
                    method: 'GET',
                    success(resp) {
                        let $nextActivate = $('.figure-container[data-hook='+name+']');
                        resp.data.forEach(n => {
                            $nextActivate.find('.figure-list').append(`<li><img class="figure-thumbnail" src="/static/image/${name}/${n}.png" title="${n}" data-type="${name}" /></li>`);
                            $nextActivate.attr('data-fetch', 'true');
                        });
                        
                        if(!$nextActivate.hasClass('figure--activated')) {
                            $nextActivate.addClass('figure--activated')
                        };
                    }
                })
            }
        }
        R.getData('simulation_trade');
        
    </script>
</body>

</html>