<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Trade</title>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link href="/static/style/material-components.min.css" rel="stylesheet">
    <link href="/static/style/material-icon.css" rel="stylesheet">
    <link href="/static/style/index.css" rel="stylesheet">
</head>

<body>
    <aside class="mdc-drawer mdc-drawer--modal">
        <div class="mdc-drawer__header">
            <h3 class="mdc-drawer__title">基金模拟交易</h3>
            <h6 class="mdc-drawer__subtitle"><a href="https://github.com/ryougichan">RyougiChan</a></h6>
        </div>
        <div class="mdc-drawer__content">
            <nav class="mdc-list">
                <a class="mdc-list-item mdc-list-item--activated" href="#" aria-current="page" tabindex="0"
                    data-hook="simulation_trade">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">sports_kabaddi</i>
                    <span class="mdc-list-item__text">Simulation Trade</span>
                </a>
                <a class="mdc-list-item" href="#" data-hook="bollinger_bands">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">stacked_line_chart</i>
                    <span class="mdc-list-item__text">Bollinger Bands</span>
                </a>
                <a class="mdc-list-item" href="#" data-hook="config_section">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">fact_check</i>
                    <span class="mdc-list-item__text">Configuration Section</span>
                </a>
            </nav>
        </div>
    </aside>

    <div class="mdc-drawer-scrim"></div>

    <div class="mdc-drawer-app-content">
        <header class="mdc-top-app-bar app-bar" id="app-bar">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <button id="drawer-toggle"
                        class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
                    <span class="mdc-top-app-bar__title">Simulation Trade</span>
                </section>
            </div>
        </header>

        <main class="main-content" id="main-content">
            <div class="mdc-top-app-bar--fixed-adjust figure-container" data-hook="simulation_trade" data-fetch="true"
                data-type="figure">
                <ul class="figure-list"></ul>
            </div>
            <div class="mdc-top-app-bar--fixed-adjust figure-container" data-hook="bollinger_bands" data-fetch="false"
                data-type="figure">
                <ul class="figure-list"></ul>
            </div>
            <div class="mdc-top-app-bar--fixed-adjust figure-container" data-hook="config_section"
                data-fetch="false" data-type="config">
                <div class="mdc-card demo-card">
                    <div class="demo-card__primary">
                        <h2 class="demo-card__title mdc-typography mdc-typography--headline6">已获取数据的基金列表</h2>
                        <h3 class="demo-card__subtitle mdc-typography mdc-typography--subtitle2">by Kurt Wagner
                        </h3>
                    </div>
                    <ul class="mdc-list fund-code-list" role="group" aria-label="List with checkbox items"></ul>
                    <div class="mdc-card__actions">
                        <div class="mdc-card__action-buttons">
                            <button class="mdc-button mdc-card__action mdc-card__action--button"
                                data-action="remove-config-fund"> <span class="mdc-button__ripple"></span> 移除</button>
                            <button class="mdc-button mdc-card__action mdc-card__action--button"
                                data-action="add-config-fund"> <span class="mdc-button__ripple"></span> 添加</button>
                        </div>
                    </div>
                </div>
        </main>
    </div>

    <div class="figure">
        <iframe></iframe>
    </div>

    <div class="mdc-snackbar">
        <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
            <div class="mdc-snackbar__label" aria-atomic="false"></div>
        </div>
    </div>
    {% csrf_token %}
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
    <script src="/static/script/index.js"></script>
</body>

</html>